
/* latin-ext */
@font-face {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    src: local('Inknut Antiqua Regular'), local('InknutAntiqua-Regular'), url(https://fonts.gstatic.com/s/inknutantiqua/v5/Y4GSYax7VC4ot_qNB4nYpBdaKUUK4J3BRw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    src: local('Inknut Antiqua Regular'), local('InknutAntiqua-Regular'), url(https://fonts.gstatic.com/s/inknutantiqua/v5/Y4GSYax7VC4ot_qNB4nYpBdaKUUE4J0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
    
  .center{
    margin-left: auto;
    margin-right: auto;
  }

  .centeredText{
    text-align: center;
  }

  .centerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  }

  #about{  
    color: #111; font-family: 'Inknut Antiqua', cursive; 
    line-height: 32px;
    margin: 0 0 18px;
    font-size: 18px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .spaceRight{  
    margin-right: 10px;
  }